<p>news works!</p>

<input type="text" (keyup)="keyDownFun($event)" />

<h4>双向绑定</h4>
<input type="text" [(ngModel)]="title" placeholder="双向绑定" />

<p>{{ uppercase | uppercase }}</p>
<p>{{ uppercase | lowercase }}</p>
<p>{{ today | date: "yyyy-MM-dd" }}</p>
<!-- //接收的参数格式为{最少整数位数}.{最少小数位数}-{最多小数位数} -->
<p>{{ dob | number: "1.0-0" }}</p>
<p>{{ userInfo | json }}</p>
<button (click)="console($event)">按钮打印</button>
<p>{{ title }}</p>
<div [title]="userInfo.username">绑定属性</div>

<input type="text" [placeholder]="userInfo.username" />
<div [innerHTML]="content"></div>
<p>1 + 1 = {{ 1 + 2 }}</p>

<ol>
  <li *ngFor="let item of arr">{{ item }}</li>
</ol>

<p *ngIf="isShow">我在展示1</p>
<p *ngIf="!isShow">我在展示2</p>
<!--
<p [class]="isShow ? 'red' : ''">字体变色</p>
<p [class]="!isShow ? 'red' : ''">字体不变色</p>
-->

<p [ngClass]="{ red: isShow }">字体变色</p>
<p [ngClass]="{ red: !isShow }">字体不变色</p>

<ul [ngSwitch]="caseNumber">
  <li *ngSwitchCase="1">1</li>
  <li *ngSwitchCase="2">2</li>
  <li *ngSwitchCase="3">3</li>
  <li *ngSwitchCase="4">4</li>
</ul>
