<nz-descriptions nzTitle="Welcome" nzBordered>
  <nz-descriptions-item nzTitle="Product">Cloud Database</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Billing Mode" [nzSpan]="2"
    >Prepaid</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Order Time" [nzSpan]="2"
    >2018-04-24 18:00:00</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Usage Time">
    2018-04-24 18:00:00 To 2019-04-24 18:00:00
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Status" [nzSpan]="3">
    <nz-badge nzStatus="processing" nzText="Running"></nz-badge>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Negotiated Amount"
    >$80.00</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Discount" [nzSpan]="2"
    >$20.00</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Official Receipts" [nzSpan]="2"
    >$60.00</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Config Info" [nzSpan]="2">
    我想这都不是我们想象种的那般美好的世界
  </nz-descriptions-item>
</nz-descriptions>
