<p>表单学习</p>
<ul>
  <li>姓名：<input [(ngModel)]="peopleInfo.username" /></li>
  <li>
    <input type="radio" [value]="1" [(ngModel)]="peopleInfo.sex" name="1" />
    <label for="1">男</label>
    <input type="radio" [value]="2" [(ngModel)]="peopleInfo.sex" name="1" />
    <label for="1">女</label>
  </li>
  <li>
    <select [(ngModel)]="peopleInfo.city">
      <option *ngFor="let item of selectList" [value]="item">{{ item }}</option>
    </select>
  </li>
  <li>
    <span *ngFor="let item of checkList; let key = index"
      ><input
        type="checkbox"
        name="ty"
        [value]="item"
        (click)="choose(item)"
      />{{ item }} - {{ key }}</span
    >
  </li>
</ul>

<pre>
    {{ peopleInfo | json }}
</pre>
<div class="people"></div>
